@page
@model Project22GR2.Pages.Events.CreateEventModel
@{
    ViewData["Title"] = "Create Event";
}
<h1>Create event</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
              <div class="form-group">
                <label asp-for="@Model.Event.Id" class="control-label"></label>
                <input asp-for="@Model.Event.Id" class="control-label" />
                <span asp-validation-for="Event.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="control-label" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.DateTime" class="control-label"></label>
                <input asp-for="@Model.Event.DateTime" class="control-label" />
                <span asp-validation-for="Event.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Price" class="control-label"></label>
                <input asp-for="@Model.Event.Price" class="control-label" />
                <span asp-validation-for="Event.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create a new event" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
