@page
@model Project22GR2.Pages.BlogPosts.DeleteBlogPostModel
@{
    ViewData["Title"] = "DeleteBlogPost";
}

<h1>Delete Blog Post</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for=@Model.BlogPost.Id type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.BlogPost.Title" class="control-label"></label>
                <input asp-for="@Model.BlogPost.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.BlogPost.Author" class="control-label"></label>
                <input asp-for="@Model.BlogPost.Author" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.BlogPost.Description" class="control-label"></label>
                <input asp-for="@Model.BlogPost.Description" class="form-control" />
            </div>
            <input type="submit" value="Delete" class="btn btn-primary" />
            <a asp-page="Index">Cancel</a>
        </form>
    </div>
</div>