@page
@using Project22GR2.Interfaces
@using Project22GR2.Models
@model Project22GR2.Pages.BlogPosts.DetailsBlogPostModel
@{
    ViewData["Title"] = "Details";
}

<h1>Blog Post</h1>

<input asp-for=@Model.BlogPost.Id type="hidden" />
<div class="form-group">
    <label asp-for="@Model.BlogPost.Author"></label>
    <input asp-for="@Model.BlogPost.Author" />
    <label asp-for="@Model.BlogPost.Description">Description</label>
    <input asp-for="@Model.BlogPost.Description" />
        <a asp-page="EditBlogPost" asp-route-id="@Model.BlogPost.Id">Edit</a> |
        <a asp-page="DeleteBlogPost" asp-route-id="@Model.BlogPost.Id">Delete</a> |
    <a asp-page="Index">Back</a>
</div>
<div class="form-group">
    <center>
        <label asp-for="@Model.BlogPost.Title"></label>
        <input asp-for="@Model.BlogPost.Title" />
        <label class="custom-control-label"></label>
        <textarea asp-for="@Model.BlogPost.Content" cols="120" rows="10" class="form-control"></textarea>
        <div class="container>">
            <img src="~/images/BlogPostImages/boats.jpg" class="rounded" alt="boats" width="350" hight="250" />
        </div>
    </center>
</div>
