@page
@model Project22GR2.Pages.Employees.CreateEmployeeModel
@{
    ViewData["Title"] = "Create Employee";
}
<h1>Create Employee</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Employee.Id" class="control-label"></label>
                <input asp-for="@Model.Employee.Id" class="control-label" />
                <span asp-validation-for="Employee.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Name" class="control-label"></label>
                <input asp-for="@Model.Employee.Name" class="control-label" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Address" class="control-label"></label>
                <input asp-for="@Model.Employee.Address" class="control-label" />
                <span asp-validation-for="Employee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Email" class="control-label"></label>
                <input asp-for="@Model.Employee.Email" class="control-label" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.AccessLevel" class="control-label"></label>
                <input asp-for="@Model.Employee.AccessLevel" class="control-label" />
                <span asp-validation-for="Employee.AccessLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create a new employee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
